# Questions assigned in Full Stack Data Science Class -- 28-05-22

### q1:

In [ ]:
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

##### ANSWER:

In [84]:
n = 4
for i in range(4):
    for j in range(0, i+1):
        print("ineuron", end = " ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

### q2 -

In [ ]:
           ineuron  
           
    ineuron       ineuron
    
ineuron      ineuron       ineuron 

    ineuron       ineuron
    
          ineuron

##### ANSWER:

### l = [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh", "k2" : "ineuron", "k3" : "kumar", 3:6, 7:8}, ["ineuron", "data science"]]

In [2]:
l = [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh", "k2" : "ineuron", "k3" : "kumar", 
                                                                             3:6, 7:8}, ["ineuron", "data science"]]

### q3: Try to extract all the list entity.

##### ANSWER:

In [13]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

### q4: Try to extract all the dict entities.

##### ANSWER:

In [14]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

### q5: Try to extract all the tuples entities.

##### ANSWER:

In [15]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

### q6: Try to extract all the numerical data it maybe a part of dict key and values.

##### ANSWER:

In [3]:
for i in l:
    if type(i) == dict:
        for k, v in i.items():
            if type(k) == int or type(v) == int:
                print(k)
                print(v)

3
6
7
8

### q7: Try to give summation of all the numeric data.

##### ANSWER:

In [12]:
l2 = []

for i in l:
    if type(i) == list or type(i) == set or type(i) == tuple:
        for j in i:
            if type(j) == int:
                l2.append(j)
    if type(i) == dict:
        for k, v in i.items():
            if type(k) == int or type(v) == int:
                l2.append(k)
                l2.append(v)
l2

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [13]:
sum(l2)

156

### q8: Try to filter out all the odd values out all numeric data which is a part of a list.

##### ANSWER:

In [18]:
l3 = []
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                l3.append(j)
l3

[1, 2, 3, 4]

In [19]:
l3

[1, 2, 3, 4]

In [20]:
for i in l3:
    if i%2 == 1:
        print(i)

1
3

### q9: Try to extract "ineuron" out of this data.

##### ANSWER:

In [8]:
l4 = []

for i in l:
    if type(i) == list or type(i) == set or type(i) == tuple:
        for j in i:
            if j == "ineuron":
                l4.append(j)
    if type(i) == dict:
        for k, v in i.items():
            if k == "ineuron" or v == "ineuron":
                l4.append(v)
l4

['ineuron', 'ineuron']

### q10: Try to find out the number of occurances of all the data.

##### ANSWER:

In [15]:
t1 = []
t2 = []
t3 = []
t4 = []

for i in l:
    if type(i) == list:
        for j in i:
            t1.append(j)
    if type(i) == set:
        for j in i:
            t2.append(j)
    if type(i) == tuple:
        for j in i:
            t3.append(j)
    if type(i) == dict:
        for k, v in i.items():
            t4.append(k)
            t4.append(v)
print(t1)
print(t2)
print(t3)
print(t4)

[1, 2, 3, 4, 'ineuron', 'data science']
[45, 4, 5, 23]
[2, 3, 4, 5, 6, 3, 4, 5, 6, 7]
['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8]

In [16]:
set(t1)

{1, 2, 3, 4, 'data science', 'ineuron'}

In [17]:
set(t2)

{4, 5, 23, 45}

In [18]:
set(t3)

{2, 3, 4, 5, 6, 7}

In [19]:
set(t4)

{3, 6, 7, 8, 'ineuron', 'k1', 'k2', 'k3', 'kumar', 'sudh'}

In [64]:
t5 = t1 + t2 + t3 + t4
print(t5)

[1, 2, 3, 4, 'ineuron', 'data science', 45, 4, 5, 23, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8]

In [23]:
for i in set(t5):
    print(i, ":", t5.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k2 : 1
8 : 1
kumar : 1
45 : 1
ineuron : 2
23 : 1
data science : 1
k1 : 1
k3 : 1
sudh : 1

### q11: Try to find out the number of keys in dict element.

##### ANSWER:

In [42]:
for i in l:
    if type(i) == dict:
        print(len(i.keys()))

5

### q12: Try to filter out all the string data.

##### ANSWER:

In [43]:
for i in l:
    if type(i) == list or type(i) == set or type(i) == tuple:
        for j in i:
            if type(j) == str:
                print(j)
    if type(i) == dict:
        for k, v in i.items():
            if type(k) == str or type(v) == str:
                print(k)
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

### q13: Try to find out alphanum in data.

##### ANSWER:

### q14: Try to find out multiplication of all numeric value in individual collection inside dataset.

##### ANSWER:

In [72]:
l6 = []
l7 = []
l8 = []
l9 = []

for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                l6.append(j)
    if type(i) == set:
        for m in i:
            if type(m) == int:
                l7.append(m)
    if type(i) == tuple:
        for n in i:
            if type(n) == int:
                l8.append(n)          
    if type(i) == dict:
        for k, v in i.items():
            if type(k) == int or type(v) == int:
                l9.append(k)
                l9.append(v)
print(l6)
print(l7)
print(l8)
print(l9)

[1, 2, 3, 4]
[45, 4, 5, 23]
[2, 3, 4, 5, 6, 3, 4, 5, 6, 7]
[3, 6, 7, 8]

In [69]:
import numpy as np 
mul_l6 = np.prod(l6)
mul_l6

24

In [70]:
mul_l7 = np.prod(l7)
mul_l7

20700

In [74]:
mul_l8 = np.prod(l8)
mul_l8

1814400

In [76]:
mul_l9 = np.prod(l9)
mul_l9

1008

### q15: Try to unwarpe all the collection inside collection and create a flat list.

##### ANSWER:

In [83]:
flat_list = []
for i in l:
    if type(i) == list or type(i) == set or type(i) == tuple:
        for j in i:
            flat_list.append(j)
    if type(i) == dict:
        for k, v in i.items():
            flat_list.append(k)
            flat_list.append(v)
            
print(flat_list)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']