### Task Assigned in Full Stack Data Science Class -- 24-07-2022

#### Mysql :

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\computers\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\computers\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.3)

#### 1. Create a  table attribute dataset and dress dataset.

#### Solution:

In [ ]:
show databases;
create database task;
use task;

#Creating a table for Attribute Dataset
create table if not exists attribute_data (
dress_id int ,
style varchar(30) , 
price varchar(30) , 
rating decimal (2,1) ,
size varchar(30),
season varchar(30),
neckline varchar(30),
sleevelength varchar(30) , 
waiseline varchar(30) ,
material varchar(30) , 
fabrictype varchar(30) , 
decoration varchar(30) , 
patterntype varchar(30) , 
recommendation int
);



#Creating a table for Dress Sales
create table if not exists dress_sales (
dress_id int ,
`29/8/2013` int , 
`31/8/2013` int , 
`2/9/2013` int ,
`4/9/2013` int ,
`6/9/2013` int,
`8/9/2013` int,
`10/9/2013` int , 
`12/9/2013` int ,
`14/9/2013` int , 
`16/9/2013` int , 
`18/9/2013` int , 
`20/9/2013` int , 
`22/9/2013` int ,
`24/9/2013` int ,
`26/9/2013` int ,
`28/9/2013` int ,
`30/9/2013` int ,
`2/10/2013` int ,
`4/10/2013` int ,
`6/10/2013` int ,
`8/10/2013` int ,
`10/10/2013` int ,
`12/10/2013` int
);

#### 2. Do a bulk load for these two table for respective dataset.

#### Solution:

In [ ]:
#Inserting Attribute Dataset Records
LOAD DATA INFILE '\Attribute DataSet.csv' INTO TABLE attribute_data
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;


select * from attribute_data;



#Inserting Dress Sales Dataset Records
LOAD DATA INFILE '\Dress Sales.csv' INTO TABLE dress_sales
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;


select * from dress_sales

#### 3. Read these dataset in pandas as a dataframe.

#### Solution:

In [ ]:
# Reading  Attribute Dataset and Dress Sales Dataset in pandas as a dataframe
import mysql.connector as connection
import pandas as pd


mydb = connection.connect(host = "localhost", user = "root", passwd = "password")
print(mydb)

#Running SQL
sql_query1 = pd.read_sql('select * from task.attribute_data', mydb)
sql_query2 = pd.read_sql('select * from task.dress_sales', mydb)


#Converting SQL to DataFrame
attribute_data = pd.DataFrame(sql_query1, columns = ['dress_id', 'style', 'price','rating','size','season','neckline',
                                        'sleevelength','waiseline','material','fabrictype','decoration',
                                        'patterntype','recommendation'])

dress_sales = pd.DataFrame(sql_query2, columns = ['dress_id','29/8/2013', '31/8/2013', '2/9/2013','4/9/2013','6/9/2013'
                                                  ,'8/9/2013','10/9/2013','12/9/2013','14/9/2013','16/9/2013','18/9/2013'
                                                  ,'20/9/2013','22/9/2013','24/9/2013','24/9/2013','26/9/2013','28/9/2013'
                                                  ,'30/9/2013','2/10/2013','4/10/2013','6/10/2013','8/10/2013','10/10/2013'
                                                  ,'12/10/2013'])


print(attribute_data) 
print(dress_sales)

#### 4. Convert attribute dataset in json format.

#### Solution:

In [ ]:
#Converting Attribute Dataset dataframe into json
attribute_data_json = attribute_data.to_json()

#### 5. Store this dataset into mongodb.

#### Solution:

In [ ]:
#Storing JSON into MongoDB
import pymongo
import json
from pymongo import MongoClient, InsertOne
client = pymongo.MongoClient("mongodb+srv://yashadas:<password>@cluster0.yd8um.mongodb.net/?retryWrites=true&w=majority")
db = client.test


database = client['Task']
collection = database["Json"]


print(attribute_data_json)


with open(r'\attribute_data.json') as file:
    file_data = json.load(file)


if isinstance(file_data, list):
    collection.insert_many(file_data)
else:
    collection.insert_one(file_data)

#### 6. In sql task try to perform left join operation with attrubute dataset and dress dataset on column Dress_ID.

#### Solution:

In [ ]:
select * from attribute_data left join dress_sales on attribute_data.dress_id = dress_sales.dress_id;

In [ ]:
joined_data = pd.merge(attribute_data,dress_sales,how = 'left',on = 'dress_id')
print(joined_data)

#### 7. Write a sql query to find out how many unique dress that we have based on dress id.

#### Solution:

In [ ]:
select count(distinct(dress_id)) from attribute_data;

In [ ]:
import mysql.connector as connection
mydb = connection.connect(host = "localhost", user = "root", passwd = "password")
cursor = mydb.cursor()
cursor.execute("select count(distinct(dress_id)) from task.attribute_data")
for i in cursor.fetchall():
    print(i)
# The number of unique dresses that we have based in dress_id are 475

#### 8. Try to find out how mnay dress is having recommendation 0.

#### Solution:

In [ ]:
select count(*) from attribute_data where recommendation = 0;

In [ ]:
print((attribute_data.recommendation == 0).sum())  
# The number of dresses that is having recommendation 0 are 290.

#### 9. Try to find out total dress sell for individual dress id.

#### Solution:

In [ ]:
select dress_id, count(*), sum(dress_id) from dress_sales group by dress_id;

In [ ]:
#Creating Column Total Sales for each Dress ID
dress_sales['Sales'] = dress_sales[['29/8/2013', '31/8/2013', '2/9/2013','4/9/2013','6/9/2013','8/9/2013','10/9/2013',
                                        '12/9/2013','14/9/2013','16/9/2013','18/9/2013','20/9/2013','22/9/2013','24/9/2013'
                                        ,'26/9/2013','28/9/2013','30/9/2013','2/10/2013','4/10/2013','6/10/2013',
                                        '8/10/2013','10/10/2013','12/10/2013']].agg('sum', axis=1)

#This will sum up the sales of each unique dress_id
print(dress_sales.groupby('dress_id')['Sales'].sum())

#### 10. Try to find out a third highest most selling dress id.

#### Solution:

In [ ]:
SELECT DISTINCT SALES AS ThirdHighestSales
FROM DRESS_SALES_TABLE
ORDER BY SALES DESC
LIMIT 1 
OFFSET 2;

# The third highest most selling dress_id is 75979