# Task assigned in Full Stack Data Science Class -- 05-06-22

### q1: Try to print a prime number in between 1 to 1000.

##### SOLUTION:

In [1]:
def prime_number(a,b):
    '''Generates a prime number between 1 to 1000'''
    for i in range(a, b+1):
        if i > 1:
            for j in range(2, i):
                if (i%j) == 0:
                    break 
            else:
                print(i)

In [6]:
prime_number(1,1000)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

### q2: Try to write a function which is equivalent to print function in python.

##### SOLUTION:

In [2]:
def print_equivalent(str):
    '''Performes a function equivalent to print function in python'''
    return str

In [2]:
print_equivalent("Hello World")

'Hello World'

In [3]:
print_equivalent("123")

'123'

In [4]:
print_equivalent(123456789)

123456789

In [6]:
print_equivalent([1,2,3,4])

[1, 2, 3, 4]

In [7]:
print_equivalent((34,56,72,90))

(34, 56, 72, 90)

In [8]:
print_equivalent({'k1':'night', 'k2': 'day', 4:5})

{'k1': 'night', 'k2': 'day', 4: 5}

### q3: Try to write a function which is a replica of list append, extend and pop function.

##### SOLUTION:

### q4: Try to write a lambda function which can return a concatination of all the string that we will pass.

##### SOLUTION:

In [1]:
str_concat = lambda *args : [(''.join(args))]

In [2]:
str_concat("i","am","a","student")

['iamastudent']

### q5: Try to write a lambda function which can return list of square of all the data between 1 - 100.

##### SOLUTION:

In [31]:
square = lambda a,b : [i**2 for i in range(a,b)]

In [35]:
square(1,100)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [36]:
sq = lambda : [i**2 for i in range(100)]

In [37]:
sq()

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [38]:
sqq = lambda *x : [i**2 for i in range(100)]

In [41]:
sqq(0,101)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

### q6: Try to write a 10 different-different example of lambda function with a choice of your tasks.

##### SOLUTION:

##### The following are 10 different-different examples of lambda function with some tasks of my choice:

In [ ]:
# Example 1 : Addition

In [5]:
add = lambda a, b : a + b

In [6]:
add(2,3)

5

In [7]:
add(34,100)

134

In [ ]:
# Example 2: Subtaction

In [37]:
sub = lambda a, b : a - b

In [39]:
sub(5,2)

3

In [40]:
sub(300,700)

-400

In [ ]:
# Example 3: Division

In [49]:
div = lambda a, b : a/b

In [50]:
div(10,5)

2.0

In [51]:
div(90,3)

30.0

In [ ]:
# Example 4 : Multiplication

In [84]:
mul = lambda a, b : a*b

In [53]:
mul(30,5)

150

In [54]:
mul(2,2)

4

In [ ]:
# Example 5 : Square of a number

In [78]:
square = lambda *x : [i**2 for i in x]

In [56]:
square(4)

16

In [57]:
square(13)

169

In [79]:
square(3,7,20)

[9, 49, 400]

In [ ]:
# Example 6 : Cube of a number

In [80]:
cube = lambda *x : [i**3 for i in x]

In [10]:
cube(5)

125

In [11]:
cube(200)

8000000

In [81]:
cube(2,4,6,7)

[8, 64, 216, 343]

In [ ]:
# Example 7 : Greater than or maximum number

In [58]:
max_num = lambda a, b : a if (a > b) else b

In [59]:
max_num(9,18)

18

In [60]:
max_num(90,2)

90

In [ ]:
# Example 8: Lesser than or minimum number

In [61]:
min_num = lambda a, b : a if (a < b) else b

In [62]:
min_num(30,4)

4

In [63]:
min_num(3,40)

3

In [ ]:
# Example 9: Upper case

In [64]:
upper_case = lambda s : str.upper(s)

In [66]:
upper_case("ineuron")

'INEURON'

In [ ]:
# Example 10: Lower case

In [69]:
lower_case = lambda s : str.lower(s)

In [70]:
lower_case("This is a STRING that is converted into LOWER CASE using LAMBDA function")

'this is a string that is converted into lower case using lambda function'

### q7: Try to write a function which can perform a read operation from .txt file.

##### SOLUTION:

In [3]:
def open_txt():
    '''Perfroms a read operation from .txt file'''
    f = open("Hello.txt", "r")
    print(f.read())
    f.close()

In [18]:
open_txt()

Hello World!
This is my first function to open a .txt file in python.
Thank You & Goodbye!

In [3]:
def open_txt():
    f = open(str(input("Enter the .txt file you want to read: ")), "r")
    print(f.read())
    f.close()

In [21]:
open_txt()

Enter the .txt file you want to read: task.txt
Today's task:
q1: Try to print a prime number in between 1 to 1000.
q2: Try to write a function which is equivalent to print function in python.
q3: Try to write a function which is a replica of list append, extend and pop function.
q4: Try to write a lambda function which can return a concatination of all the string that we will pass.
q5: Try to write a lambda function which can return list of square of all the data between 1 - 100.
q6: Try to write a 10 different-different example of lambda function with a choice of your tasks.
q7: Try to write a function which can perform a read operation from .txt file.

In [4]:
open_txt()

Enter the .txt file you want to read: C:\Users\Computers\Documents\Document.txt
hello