### Task Assigned in Full Stack Data Science Class -- 20-08-2022

#### Mysql

In [ ]:
from flask import Flask ,request,jsonify
import  mysql.connector as conn

In [ ]:
app = Flask(__name__)

In [ ]:
mydb = conn.connect(host = "localhost" , user = 'root' , passwd = "password")
cursor = mydb.cursor()
cursor.execute("create database if not exists api_task")
cursor.execute("create table if not exists api_task.api_table (name varchar(30) , number int)")

In [ ]:
if __name__ == '__main__':
    app.run()

#### 1. Write a program to insert a record in sql table via api database.

In [ ]:
@app.route('/insert/mysql',methods = ['POST'])
def insert_record():
    if request.method=='POST':
        name = request.json['name']
        number = request.json['number']
        cursor.execute("insert into api_task.api_table values(%s , %s)",(name ,number))
        mydb.commit()
        return jsonify(str('successfully inserted'))

In [ ]:
# Postman

{
    "name": "xyz",
    "number":1232
}


{
    "name": "abc",
    "number":1456
}


{
    "name": "zzz",
    "number":8906
}


{
    "name": "yooy",
    "number":6758
}

#### 2. Write a program to update a record via api.

In [ ]:
@app.route("/update/mysql" , methods= ['POST'])
def update_record():
    if request.method=='POST':
         get_name = request.json['get_name']
        cursor.execute("update api_task.api_table set number = number + 500 where name = %s ",(get_name,))
         mydb.commit()
        return jsonify(str("successfully updated"))

In [ ]:
# Postman

{
    "get_name":"xyz"
}

#### 3. Write a program to delete a record via api.

In [ ]:
@app.route("/delete/mysql" , methods= ['POST'])
def delete_record():
    if request.method == 'POST':
        name_del = request.json['name_del']
        cursor.execute("delete from api_task.api_table where name = %s",(name_del,))
        mydb.commit()
        return jsonify(str("successfully deleted"))

In [ ]:
# Postman

{
    "name_del":"abc"
}

#### 4. Write a program to fetch a record via api.

In [ ]:
@app.route("/fetch/mysql",methods = ['POST','GET'])
def fetch_record():
    cursor.execute("select * from api_task.api_table")
    l = []
    for i in cursor.fetchall():
        l.append(i)
    return jsonify(str(l))

In [ ]:
# Postman
# The below output is displayed in postman

"[('xyz', 1732), ('zzz', 8906), ('yooy', 6758)]"

#### Mongodb

In [ ]:
from flask import Flask , request,jsonify
import pymongo

In [ ]:
app = Flask(__name__)

In [ ]:
client = pymongo.MongoClient("mongodb+srv://username:<password>@cluster.link.mongodb.net/?retryWrites=true&w=majority")
db = client.test

database = client['api_task']
collection= database['api_collection']

In [ ]:
if __name__=='__main__':
    app.run(port=5001)

#### 1. Write a program to insert a record in mongodb collection via api database.

In [ ]:
@app.route("/insert/mongo" , methods=['POST'])
def insert_rec():
    if request.method == 'POST':
        name = request.json['name']
        age = request.json['age']
        collection.insert_one({name:age})
        return jsonify(str("successfully inserted "))

In [ ]:
# Postman

{
    "name": "abc",
    "age": 21
}


{
    "name": "xyz",
    "age": 23
}


{
    "name": "zzyy",
    "age": 27
}


{
    "name": "abyz",
    "age": 30
}

{
    "name": "purple",
    "age": 27
}

{
    "name": "grey",
    "age": 143
}

#### 2. Write a program to update a record via api.

In [ ]:
@app.route("/update/mongo", methods=['POST'])
def update_mongo():
    if request.method == 'POST':
        get_age = request.json['get_age']
        set_age = request.json['set_age']
        collection.update_one(get_age, set_age)
        return jsonify(str("successfully updated"))

In [ ]:
# Postman

{
    "get_age" : { "get_age": 27 },
    "set_age" : {"$set": {"set_age": 28 }}
}

#### 3. Write a program to delete a record via api.

In [ ]:
@app.route("/delete/mongo", methods=['POST'])
def delete_mongo():
    if request.method == 'POST':
        rec_del = request.json['rec_del']
        collection.delete_one(rec_del,)
        return jsonify(str("successfully deleted"))

In [ ]:
# Postman

{
    "rec_del" :{"name":"purple"}
}

#### 4. Write a program to fetch a record via api.

In [ ]:
@app.route("/fetch/mongo", methods=['POST'])
def fetch_mongo():
    if request.method == 'POST':
        x = collection.find()
        l = []
        for i in x:
            l.append(i)
        return jsonify(str(l))

In [ ]:
# Postman
# The following output is displayed in postman

"""[{'_id': ObjectId('6305f02abc4bae2282a37674'), 'abc': 21}, {'_id': ObjectId('6305f046bc4bae2282a37675'), 'xyz': 23}, 
{'_id': ObjectId('6305f061bc4bae2282a37676'), 'zzyy': 28}, {'_id': ObjectId('6305f081bc4bae2282a37677'), 'abyz': 30}, 
, {'_id': ObjectId('630630f5e5956eb544391393'), 'grey': 143}]"""