### Task Assigned in Full Stack Data Science Class -- 30-07-2022

In [2]:
import pandas as pd

In [3]:
df_per = pd.read_excel(r'AgentPerformance.xlsx', header = 1)

C:\Users\Computers\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
df_per

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0

In [5]:
df_log = pd.read_excel(r'Agent_Login_Report.xls', header = 2)

In [6]:
df_log

     SL No               Agent       Date   Login Time  Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM   02:04:10
1        2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM   00:00:17
2        3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM   00:45:06
4        5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM   01:08:36
..     ...                 ...        ...          ...          ...        ...
995    996        Manjunatha A  20-Jul-22  09:03:51 AM  03:02:28 PM   05:58:37
996    997            Bharath   20-Jul-22  09:00:49 AM  03:01:32 PM   06:00:43
997    998      Khushboo Priya  20-Jul-22  08:59:20 AM  02:26:55 PM   05:27:34
998    999        Nishtha Jain  20-Jul-22  08:43:55 AM  02:00:33 PM   05:16:38
999   1000              Tarun   01-Jul-22  01:52:47 AM  12:01:07 PM  514:08:20

[1000 rows x 6 columns]

In [ ]:
# converting 'Date' column from Agent Performance dataset into datetime

In [7]:
df_per['converted_date'] = pd.to_datetime(df_per['Date'])

In [8]:
df_per

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_date
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30
...,...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0,2022-07-01
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0,2022-07-01
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0,2022-07-01
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0,2022-07-01
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0,2022-07-01

#### 1. Find out there average rating on weekly basis keep this in a mind that they take two days of leave.

In [33]:
# here no of weeks is 22/5 = 4.4

df_per.groupby('Agent Name')['Average Rating'].sum()/ 4.4

Agent Name
Abhishek          0.000000
Aditya            0.000000
Aditya Shinde    12.275000
Aditya_iot       15.990909
Amersh            0.000000
                   ...
Uday Mishra       0.000000
Vasanth P         0.000000
Vivek             3.413636
Wasim            16.363636
Zeeshan          15.593182
Name: Average Rating, Length: 70, dtype: float64

#### 2. Total working days for each agents.

In [34]:
df_per.groupby('Agent Name')['converted_date'].count()

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: converted_date, Length: 70, dtype: int64

#### 3. Total query that you have taken.

In [35]:
df_per.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

#### 4. Total Feedback that you have received.

In [36]:
df_per.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

#### 5. A agent name who have average rating between 3.5 to 4

In [15]:
df_per['Agent Name'][(df_per['Average Rating']>3.5) & (df_per['Average Rating']<=4)]

4                    Swati
10             Manjunatha A
73      Boktiar Ahmed Bappy
76            Prateek _iot
78            Nandani Gupta
               ...
1941         Jawala Prakash
2018          Sanjeev Kumar
2021          Aditya Shinde
2023       Deepranjan Gupta
2097          Sanjeev Kumar
Name: Agent Name, Length: 111, dtype: object

#### 6. Agent name who have rating lesss then 3.5

In [16]:
df_per['Agent Name'][(df_per['Average Rating']<3.5)]

1            Nandani Gupta
19        Hitesh Choudhary
20              Sanjeevan
21                Anirudh
22        Shiva Srivastava
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

#### 7. Agent name who have rating more then 4.5

In [17]:
df_per['Agent Name'][(df_per['Average Rating']>4.5)]

2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

#### 8. How many feedaback agents have received more then 4.5 average.

In [40]:
df_per.groupby('Agent Name')['Total Feedback'].mean()>4.5

Agent Name
Abhishek         False
Aditya           False
Aditya Shinde     True
Aditya_iot       False
Amersh           False
                 ...
Uday Mishra      False
Vasanth P        False
Vivek            False
Wasim             True
Zeeshan           True
Name: Total Feedback, Length: 70, dtype: bool

In [41]:
# to count the total number of feedbacks where agents have recieved more than 4.5 average

count = 0
for i in df_per.groupby('Agent Name')['Total Feedback'].sum()/ 22 > 4.5:
    if i == True:
        count += 1
print(count)

34

#### 9. Average weekly response time for each agent.

In [47]:
 df_per['Average Response Time']=pd.to_datetime(df_per['Average Response Time'])

In [48]:
df_per['Average_Response_Time_hour'] = df_per['Average Response Time'].dt.hour

In [49]:
df_per['Average_Response_Time_minute'] = df_per['Average Response Time'].dt.minute

In [50]:
df_per['Average_Response_Time_second'] = df_per['Average Response Time'].dt.second

In [52]:
# here weekly response time for each agent is in minutes

((df_per.groupby('Agent Name')['Average_Response_Time_hour'].sum()*3600) +
(df_per.groupby('Agent Name')['Average_Response_Time_minute'].sum()*60) +
(df_per.groupby('Agent Name')['Average_Response_Time_second'].sum())/60)/4.4

Agent Name
Abhishek           0.000000
Aditya             0.000000
Aditya Shinde    137.469697
Aditya_iot        84.314394
Amersh             0.000000
                    ...
Uday Mishra        0.000000
Vasanth P          0.000000
Vivek             55.193182
Wasim             83.829545
Zeeshan          302.015152
Length: 70, dtype: float64

#### 10. Average weekely resolution time for each agents.

In [53]:
df_per['Average Resolution Time']=pd.to_datetime(df_per['Average Resolution Time'])

In [54]:
df_per['Average_Resolution_Time_hour'] = df_per['Average Resolution Time'].dt.hour

In [55]:
df_per['Average_Resolution_Time_minute'] = df_per['Average Resolution Time'].dt.minute

In [56]:
df_per['Average_Resolution_Time_second'] = df_per['Average Resolution Time'].dt.second

In [57]:
# here weekely resolution time for each agents is in minutes

((df_per.groupby('Agent Name')['Average_Resolution_Time_hour'].sum()*3600) +
(df_per.groupby('Agent Name')['Average_Resolution_Time_minute'].sum()*60) +
(df_per.groupby('Agent Name')['Average_Resolution_Time_second'].sum())/60)/4.4

Agent Name
Abhishek            0.000000
Aditya              0.000000
Aditya Shinde    4160.299242
Aditya_iot       3888.556818
Amersh              0.000000
                    ...
Uday Mishra         0.000000
Vasanth P           0.000000
Vivek            1009.632576
Wasim            4583.734848
Zeeshan          4310.575758
Length: 70, dtype: float64

#### 11. List of all agents name.

In [58]:
sorted(list(df_per['Agent Name'].unique()))

['Abhishek ',
 'Aditya ',
 'Aditya Shinde',
 'Aditya_iot ',
 'Amersh ',
 'Ameya Jain',
 'Anirudh ',
 'Ankit Sharma',
 'Ankitjha ',
 'Anurag Tiwari',
 'Aravind ',
 'Ashad Nasim',
 'Ashish ',
 'Ayushi Mishra',
 'Bharath ',
 'Boktiar Ahmed Bappy',
 'Chaitra K Hiremath',
 'Deepranjan Gupta',
 'Dibyanshu ',
 'Harikrishnan Shaji',
 'Hitesh Choudhary',
 'Hrisikesh Neogi',
 'Hyder Abbas',
 'Ineuron Intelligence ',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Jayant Kumar',
 'Jaydeep Dixit',
 'Khushboo Priya',
 'Madhulika G',
 'Mahak ',
 'Mahesh Sarade',
 'Maitry ',
 'Maneesh ',
 'Manjunatha A',
 'Mithun S',
 'Mukesh ',
 'Mukesh Rao ',
 'Muskan Garg',
 'Nandani Gupta',
 'Nishtha Jain',
 'Nitin M',
 'Prabir Kumar Satapathy',
 'Prateek _iot ',
 'Prerna Singh',
 'Rishav Dash',
 'Rohan ',
 'Saif Khan',
 'Saikumarreddy N',
 'Samprit ',
 'Sandipan Saha',
 'Sanjeev Kumar',
 'Sanjeevan ',
 'Saurabh Shukla',
 'Shiva Srivastava',
 'Shivan K',
 'Shivan_S ',
 'Shivananda Sonwane',
 'Shubham Sharma',
 'Sowmiya Sivakumar',
 'Spuri ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Swati ',
 'Tarun ',
 'Uday Mishra',
 'Vasanth P',
 'Vivek ',
 'Wasim ',
 'Zeeshan ']

#### 12. Percentage of chat on which they have received a feedback.

In [60]:
df_per.groupby(['Agent Name','Total Chats'])['Total Feedback'].sum()

Agent Name     Total Chats
Abhishek       0               0
Aditya         0               0
Aditya Shinde  0               0
               8               7
               14              9
                              ..
Zeeshan        36             28
               37             25
               41             25
               46             28
               92             35
Name: Total Feedback, Length: 638, dtype: int64

In [61]:
# percentage of chat on which they have received a feedback = ((total chats - total feedbacks)/total chats)*100

((
        ((df_per.groupby('Agent Name')['Total Chats'].sum())-(df_per.groupby('Agent Name')['Total Feedback'].sum()))/
        (df_per.groupby('Agent Name')['Total Chats'].sum())
))*100

Agent Name
Abhishek               NaN
Aditya                 NaN
Aditya Shinde    44.765343
Aditya_iot       43.290043
Amersh                 NaN
                   ...
Uday Mishra            NaN
Vasanth P              NaN
Vivek            54.545455
Wasim            34.411085
Zeeshan          38.191882
Length: 70, dtype: float64

#### 13. Total contributation hour for each and every agents weekly basis.

In [62]:
df_log['modified_Duration']=(pd.to_datetime(df_log.Date) + pd.to_timedelta(df_log.Duration))

In [63]:
df_log['Duration_hour'] = df_log['modified_Duration'].dt.hour

In [64]:
df_log['Duration_minute'] =df_log['modified_Duration'].dt.minute

In [65]:
df_log['Duration_second'] = df_log['modified_Duration'].dt.second

In [66]:
((df_log.groupby('Agent')['Duration_hour'].sum()) +
(df_log.groupby('Agent')['Duration_minute'].sum()/60) +
(df_log.groupby('Agent')['Duration_second'].sum())/3600)/4.4

Agent
Aditya Shinde              0.008207
Aditya_iot                 3.575253
Amersh                     0.696338
Ameya Jain                 9.562626
Ankitjha                   0.515215
Anurag Tiwari              0.631566
Aravind                    5.522538
Ayushi Mishra              8.664015
Bharath                   10.926515
Boktiar Ahmed Bappy        9.151957
Chaitra K Hiremath         7.801263
Deepranjan Gupta          24.153472
Dibyanshu                 11.953598
Harikrishnan Shaji        12.207891
Hrisikesh Neogi           13.083775
Hyder Abbas                0.088194
Ineuron Intelligence       0.329230
Ishawant Kumar            11.767929
Jawala Prakash            10.545960
Jaydeep Dixit              8.145581
Khushboo Priya             9.899684
Madhulika G               10.468245
Mahesh Sarade              9.754987
Maitry                     7.032955
Manjunatha A               9.380619
Mithun S                  10.266730
Mukesh                     2.023864
Muskan Garg                3.939899
Nandani Gupta              9.130051
Nishtha Jain               9.966540
Nitin M                    0.181566
Prabir Kumar Satapathy     7.585732
Prateek _iot               4.185922
Prerna Singh              10.389899
Rishav Dash                9.494444
Saikumarreddy N            9.803977
Sanjeev Kumar             10.156187
Saurabh Shukla             3.787058
Shiva Srivastava           3.407765
Shivan K                   8.205051
Shivananda Sonwane        11.201768
Shubham Sharma            12.226894
Sowmiya Sivakumar         10.171402
Sudhanshu Kumar           10.507071
Suraj S Bilgi              2.854356
Swati                      5.682071
Tarun                      2.304293
Wasim                     10.949811
Zeeshan                   11.156503
dtype: float64

#### 14. Total percentage of active hour for a month.

In [67]:
# considering 7 active hours in a day so in 22 days total active hours = 154

(((df_log.groupby('Agent')['Duration_hour'].sum()) +
(df_log.groupby('Agent')['Duration_minute'].sum()/60) +
(df_log.groupby('Agent')['Duration_second'].sum())/3600)/154)*100

Agent
Aditya Shinde              0.023449
Aditya_iot                10.215007
Amersh                     1.989538
Ameya Jain                27.321789
Ankitjha                   1.472042
Anurag Tiwari              1.804473
Aravind                   15.778680
Ayushi Mishra             24.754329
Bharath                   31.218615
Boktiar Ahmed Bappy       26.148449
Chaitra K Hiremath        22.289322
Deepranjan Gupta          69.009921
Dibyanshu                 34.153139
Harikrishnan Shaji        34.879690
Hrisikesh Neogi           37.382215
Hyder Abbas                0.251984
Ineuron Intelligence       0.940657
Ishawant Kumar            33.622655
Jawala Prakash            30.131313
Jaydeep Dixit             23.273088
Khushboo Priya            28.284812
Madhulika G               29.909271
Mahesh Sarade             27.871392
Maitry                    20.094156
Manjunatha A              26.801768
Mithun S                  29.333514
Mukesh                     5.782468
Muskan Garg               11.256854
Nandani Gupta             26.085859
Nishtha Jain              28.475830
Nitin M                    0.518759
Prabir Kumar Satapathy    21.673521
Prateek _iot              11.959776
Prerna Singh              29.685426
Rishav Dash               27.126984
Saikumarreddy N           28.011364
Sanjeev Kumar             29.017677
Saurabh Shukla            10.820166
Shiva Srivastava           9.736472
Shivan K                  23.443001
Shivananda Sonwane        32.005051
Shubham Sharma            34.933983
Sowmiya Sivakumar         29.061147
Sudhanshu Kumar           30.020202
Suraj S Bilgi              8.155303
Swati                     16.234488
Tarun                      6.583694
Wasim                     31.285173
Zeeshan                   31.875722
dtype: float64